<h1>Editing metering_ho_entry</h1>

<% form_for(@metering_ho_entry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :prefix_int %><br />
    <%= f.text_field :prefix_int %>
  </p>
  <p>
    <%= f.label :destination %><br />
    <%= f.text_field :destination %>
  </p>
  <p>
    <%= f.label :from_time %><br />
    <%= f.text_field :from_time %>
  </p>
  <p>
    <%= f.label :to_time %><br />
    <%= f.text_field :to_time %>
  </p>
  <p>
    <%= f.label :npls %><br />
    <%= f.text_field :npls %>
  </p>
  <p>
    <%= f.label :t1 %><br />
    <%= f.text_field :t1 %>
  </p>
  <p>
    <%= f.label :sqpls %><br />
    <%= f.text_field :sqpls %>
  </p>
  <p>
    <%= f.label :t2 %><br />
    <%= f.text_field :t2 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @metering_ho_entry %> |
<%= link_to 'Back', metering_ho_entries_path %>