<p>
  <b>Id:</b>
  <%=h @metering_ho_entry.id %>
</p>

<p>
  <b>Prefix int:</b>
  <%=h @metering_ho_entry.prefix_int %>
</p>

<p>
  <b>Destination:</b>
  <%=h @metering_ho_entry.destination %>
</p>

<p>
  <b>From time:</b>
  <%=h @metering_ho_entry.from_time %>
</p>

<p>
  <b>To time:</b>
  <%=h @metering_ho_entry.to_time %>
</p>

<p>
  <b>Npls:</b>
  <%=h @metering_ho_entry.npls %>
</p>

<p>
  <b>T1:</b>
  <%=h @metering_ho_entry.t1 %>
</p>

<p>
  <b>Sqpls:</b>
  <%=h @metering_ho_entry.sqpls %>
</p>

<p>
  <b>T2:</b>
  <%=h @metering_ho_entry.t2 %>
</p>


<%= link_to 'Edit', edit_metering_ho_entry_path(@metering_ho_entry) %> |
<%= link_to 'Back', metering_ho_entries_path %>